.c-button {
  border: none;
  background: grey;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
}

.c-button--primary {
  background: $theme-color-primary;
}

.input-addon-btn {
  position: relative;
}

.input-addon-btn .c-button {
  position: absolute;
  width: 40px;
  right: 0;
  height: 100%;
}
