.c-form-group {
  margin-top: 15px;
}

.c-form-group__input {
  background-image: none !important;
  display: block;
  padding: 10px 5px;
  box-shadow: none;
  width: 100%;
}

.c-form-group__input--sm {
  max-width: 8rem;
}

.c-form-group__input--med {
  max-width: 12rem;
}
