extends layout.pug

block mainnav
  nav.nav.c-nav-main
    a(href='/' class="c-nav-main__item") Home
    a(href='documentation' class="c-nav-main__item is-active") Documentation
block main
  div.l-container
    nav
      a(href="styleguide") Styleguide
