extends layout.pug

block mainnav
  nav.c-nav
    a(href='/' class="c-nav__item") Home
    a(href='/chat' class="c-nav__item") Chat
    a(href='documentation' class="c-nav__item is-active") Documentation
block content
  div.l-container
    nav
      a(href="styleguide") Styleguide
