extends layout.pug

block main
  div.l-container
    p='Simple usage'
    div.grid-example
      div.row
        div.col.col-sm-12.col-med-6.col-lrg-4
        div.col.col-sm-12.col-med-6.col-lrg-4
        div.col.col-sm-12.col-med-6.col-lrg-4
      div.row
        div.col.col-sm-12.col-lrg-3
        div.col.col-sm-12.col-lrg-3
        div.col.col-sm-12.col-lrg-6
      div.row
        div.col.col-sm-12
        div.col.col-sm-12
    p='Offset usage'
    div.grid-example
      div.row
        div.col.col-sm-12.col-med-6.col-offset-sm-12.col-offset-med-3
      div.row
        div.col.col-sm-12.col-med-3
        div.col.col-sm-12.col-med-3.col-offset-sm-12.col-offset-med-6
      div.row
        div.col.col-sm-12.col-med-3.col-offset-sm-12.col-offset-med-3
        div.col.col-sm-12.col-med-3
