include ./mixins/messageFormSimple

html
  head
    title='Chatty 😃'
    script(src='/socket.io/socket.io.js')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto:100,300,400,500,700" rel="stylesheet")
    link(href="styles.css" rel="stylesheet")
  body
    div.l-main-header
      div.l-container
        h1.l-h1-reveresed=welcome
    block main
      body
        div.l-container
          block content
            section
              div.row
                div.col.col-sm-12.c-chat-window
              +messageFormSimple
              button(class="c-button") Standard
              button(class="c-button c-button--primary") Primary
    block foot
      footer.l-footer
        div.l-container
          p='chatty ©2017'
          a(href="grid-example") Grid example
    block scripts
      script(src='main.js')
