include ./mixins/messageFormSimple

html
  head
    title='Chatty 😃'
    script(src='/socket.io/socket.io.js')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto:100,300,400,500,700" rel="stylesheet")
    link(href="styles.css" rel="stylesheet")
  body
    div.l-main-header
      div.l-container
        h1.l-h1-reveresed=welcome
        block mainnav
          nav.nav.c-nav-main
            a(href='/' class="c-nav-main__item") Home
            a(href='documentation' class="c-nav-main__item") Documentation
    block main
      body
        div.l-container
          block content
            section
              div.row
                div.col.col-sm-12.c-chat-window
              +messageFormSimple
    block foot
      footer.l-footer
        div.l-container
          p='chatty ©2017'
    block scripts
      script(src='main.js')
