html {
  box-sizing: border-box;
}

html, body, #root {
  height: 100% !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $theme-font-main;
  margin: 0;
  padding: 0;
}

/* #root {
  position: absolute;
  width: 100%;
  height: 100%;
} */

form {
  margin: 0;
  padding: 0;
}

@mixin h-tags {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 0;
}

p {
  margin: 0;
  padding: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
