.c-chat {
  height: 100%;
  position: relative;
  margin-top: -75px;
  overflow-x: hidden;
}

.c-chat__list {
  display: flex;
  flex-direction:column;
  position: absolute;
  bottom: 0;
  margin-bottom: 85px;
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.c-chat__list > div:first-child {
  margin-top: auto;
  border-top: none;
}

.c-chat__room-name {
  font-size: 40px;
}

.c-chat__buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.c-chat__content {
  margin: 0 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
}

.c-chat__name {
  font-weight: 700
}

.c-chat__time {
  opacity: 0.5;
  font-size: 80%;
}
