.c-form-group {
  /* margin-top: 15px; */
  margin-bottom: 15px;
}

.c-form-group:nth-child(1) {
  margin-top: 0;
}

.c-form-input {
  background-image: none !important;
  display: block;
  padding: 10px 5px;
  box-shadow: none;
  width: 100%;
}

.c-form-input--sm {
  max-width: 8rem;
}

.c-form-input--med {
  max-width: 12rem;
}

.c-form-group__message {
  font-size: 14px;
  margin: 10px 0;
  color: #e40000;
}
