.c-referral {
  background: #ffb631;
  color: #ffffff;
  font-weight: 100;
  position: relative;
  z-index: 10;
}

.c-chat-referral {
  padding: 0;
  margin: 0;
  text-align:center;
  padding: 10px 0;
}
