.c-sidebar {
  margin-left: -200px;
  width: 250px;
  float: left;
  height: 100%;
  position: relative;
  background: #353535;
  color: #ffffff;
  font-weight: 100;
  transition: margin-left 0.3s ease-out;

  &.is-open {
    margin-left: 0;
  }
}

.c-sidebar__icon-items {
  border: 1px solid red;
  width: 50px;
  position: absolute;
  right: 0;
}
