.c-nav__item {
  color: #ffffff;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  text-decoration: none;
  transition: opacity 0.3s ease-out;

  &.is-active {
    border-bottom: 1px solid #ffffff;
  }

  &:nth-child(1) {
    margin-left: 0px;
  }

  &:hover:not(.is-active) {
    opacity: 0.5;
  }
}

.c-nav-chat {
  margin-left: 10px;
  position: relative;
  z-index: 10;
}
