include ./messageFormSimple

mixin chatWindow
  section.c-chat
    div
      ol.list.c-chat__list#displayed-messages
    div.c-chat__buttons
      +messageFormSimple
      button(class="c-button c-button--primary" id="send-location") Send location
