/* Target all H tags */
@define-mixin h-tags {
  h1, h2, h3, h4, h5, h6 {
    @mixin-content;
  }
}

@define-mixin apply-bg-gradient $class, $primary, $sub, $primaryPercentage: 100%, $subPercentage: 0%  {
  .$(class) {
    background: $primary;
    background: -webkit-linear-gradient($sub, $primary);
    background: -o-linear-gradient($sub, $primary);
    background: linear-gradient($sub $subPercentage, $primary $primaryPercentage);
    @mixin-content
  }
}
