mixin inputAddonButton(classes, placeholder)
  - var classNames = classes
  div.col-sm-12
    div.input-addon-btn.row
      input(class=`c-form-group__input ${classNames}` placeholder=`${placeholder}`)
      button(class="c-button c-button--primary" type='button') +
